# Aliases for all shells.

alias ls='ls --color'
alias ll='ls -lh'

# For LiveIntent project.
alias grunt-all='grunt sass jsbeautifier:fix jshint'

mygrants()
{
  mysql -B -N $@ -e "SELECT DISTINCT CONCAT('SHOW GRANTS FOR ''', user, '''@''', host, ''';') AS query FROM mysql.user" | \
  mysql $@ | \
  sed 's/\(GRANT .*\)/\1;/;s/^\(Grants for .*\)/## \1 ##/;/##/{x;p;x;}'
}

